



.transparentBackground >*,
.transparentBackground tr{
    background: transparent !important;
}

.transparentChild >* {
    background: transparent !important;
}

td.notTransparent {
    background-image: radial-gradient(steelblue,cadetblue) !important;
}

